[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
librosa = "*"
soundfile = "*"
numpy = "*"
sklearn = "*"
pyaudio = {path = "./PyAudio-0.2.11-cp37-cp37m-win_amd64.whl"}
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
pydub = "*"
# keras = "*"
# tensorflow = "*"
joblib = "*"
jinja2 = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
